<main>
  <section class="py-5 text-center container">
    <div>
        <h1>Bienvenido al chat de eCommerce</h1>
        <h2 id="userEmail">{{user.name}}</h2>
        <div>
            <input id="chatBox" />
        </div>
        <div>
            <p id="messageLogs"></p>
        </div>
  </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>