<main>
  <section class="py-5 text-center container">
    <div>
      <h1>Tu perfil (sin datos sensibles)</h1>
      <p>Usuario: {{user.name}}</p>
      <p>Email: {{user.email}}</p>
      <p>Role: {{user.role}}</p>
    </div>
  </section>
</main>